.Synonyms {
  padding: 0;
}

.Synonyms li {
  list-style: none;
  display: inline-block;
  font-size: 15.5px;
  padding: 10px;
  margin: 10px 0 0 10px;
  border: 1px solid;
  color: rgb(0, 0, 0, 0.4);
  border-radius: 30px;
}
